src/Makefile
src/*.so
#
/out
projects/**/results
projects/**/.tkenvrc
projects/**/valgrind.out
#
projects/**/resultsEnd
#
*/*/*.out
*/*/*/*.out
#
*/*/*/*/*_m.h
*/*/*/*/*_m.cc
#
#/images
#/tests
/doc
#images.zip
#tests.zip
#
#COPYING
#Makefile
#README.MiXiM.txt
#README.txt
#doxy.cfg
#configure
#doxy.cfg
#CHANGELOG
#
#tests/**/results
#tests/**/.tkenvrc
#tests/**/out.tmp
#tests/**/err.tmp
#
#examples/**/results
#examples/**/.tkenvrc
#examples/**/valgrind.out
#
#doc/doxy
#doc/neddoc
#
#/run
#/debug
#/memcheck
#
#src/**/*_m.h
#src/**/*_m.cc