src/Makefile
src/*.so
#
/out
projects/**/results
projects/**/.tkenvrc
projects/**/valgrind.out
/images
/tests
/doc
#
#COPYING
#Makefile
#README.MiXiM.txt
#README.txt
#doxy.cfg
#configure
#doxy.cfg
#CHANGELOG
#
#tests/**/results
#tests/**/.tkenvrc
#tests/**/out.tmp
#tests/**/err.tmp
#
#examples/**/results
#examples/**/.tkenvrc
#examples/**/valgrind.out
#
#doc/doxy
#doc/neddoc
#
#/run
#/debug
#/memcheck
#
#src/**/*_m.h
#src/**/*_m.cc